# Servidor
PORT=3333
NODE_ENV=development

# Banco de dados
DATABASE_URL=
DIRECT_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# API WPP
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=

# API GEMINI
GEMINI_API_KEY=